.idea/other.xml
.idea/modules.xml
testFile.txt
__pycache__/MyDeserializer.cpython-36.pyc
Numbers.png
ComputerVisionAssignments/__pycache__/motionAndVideo.cpython-36.pyc
1_1_3.tif
1_1_2.tif
patientVideo.avi
output.avi
1_1_1.tif
.idea/misc.xml
.idea/DiplomaProject.iml
__pycache__/helper.cpython-36.pyc
__pycache__/fileProcessing.cpython-36.pyc
.idea/workspace.xml
.idea/.name
ComputerVisionAssignments/__pycache__/__init__.cpython-36.pyc
ComputerVisionAssignments/__pycache__/superpixel.cpython-36.pyc
ComputerVisionAssignments/__pycache__/filters.cpython-36.pyc
ComputerVisionAssignments/__pycache__/ImageSort.cpython-36.pyc
